In [28]:
import pandas as pd 
import json
from sqlalchemy import create_engine
from config import ps

In [34]:
df_wine = pd.read_json("Resources\winemag-data-130k-v2.json")
df_wine

,points,title,description,taster_name,taster_twitter_handle,price,designation,variety,region_1,region_2,province,country,winery
0,87,Nicosia 2013 Vulkà Bianco (Etna),"Aromas include tropical fruit, broom, brimston...",Kerin O’Keefe,@kerinokeefe,NaN,Vulkà Bianco,White Blend,Etna,None,Sicily & Sardinia,Italy,Nicosia
1,87,Quinta dos Avidagos 2011 Avidagos Red (Douro),"This is ripe and fruity, a wine that is smooth...",Roger Voss,@vossroger,15.0,Avidagos,Portuguese Red,None,None,Douro,Portugal,Quinta dos Avidagos
2,87,Rainstorm 2013 Pinot Gris (Willamette Valley),"Tart and snappy, the flavors of lime flesh and...",Paul Gregutt,@paulgwine,14.0,None,Pinot Gris,Willamette Valley,Willamette Valley,Oregon,US,Rainstorm
3,87,St. Julian 2013 Reserve Late Harvest Riesling ...,"Pineapple rind, lemon pith and orange blossom ...",Alexander Peartree,None,13.0,Reserve Late Harvest,Riesling,Lake Michigan Shore,None,Michigan,US,St. Julian
4,87,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,"Much like the regular bottling from 2012, this...",Paul Gregutt,@paulgwine,65.0,Vintner's Reserve Wild Child Block,Pinot Noir,Willamette Valley,Willamette Valley,Oregon,US,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,90,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Notes of honeysuckle and cantaloupe sweeten th...,Anna Lee C. Iijima,None,28.0,Brauneberger Juffer-Sonnenuhr Spätlese,Riesling,None,None,Mosel,Germany,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,90,Citation 2004 Pinot Noir (Oregon),Citation is given as much as a decade of bottl...,Paul Gregutt,@paulgwine,75.0,None,Pinot Noir,Oregon,Oregon Other,Oregon,US,Citation
129968,90,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Well-drained gravel soil gives this wine its c...,Roger Voss,@vossroger,30.0,Kritt,Gewürztraminer,Alsace,None,Alsace,France,Domaine Gresser
129969,90,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),"A dry style of Pinot Gris, this is crisp with ...",Roger Voss,@vossroger,32.0,None,Pinot Gris,Alsace,None,Alsace,France,Domaine Marcel Deiss
129970,90,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,"Big, rich and off-dry, this is powered by inte...",Roger Voss,@vossroger,21.0,Lieu-dit Harth Cuvée Caroline,Gewürztraminer,Alsace,None,Alsace,France,Domaine Schoffit

In [54]:
clean_wine = df_wine[["country", "variety", "points", "price", "title"]]
clean_wine

,country,variety,points,price,title
0,Italy,White Blend,87,NaN,Nicosia 2013 Vulkà Bianco (Etna)
1,Portugal,Portuguese Red,87,15.0,Quinta dos Avidagos 2011 Avidagos Red (Douro)
2,US,Pinot Gris,87,14.0,Rainstorm 2013 Pinot Gris (Willamette Valley)
3,US,Riesling,87,13.0,St. Julian 2013 Reserve Late Harvest Riesling ...
4,US,Pinot Noir,87,65.0,Sweet Cheeks 2012 Vintner's Reserve Wild Child...
...,...,...,...,...,...
129966,Germany,Riesling,90,28.0,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...
129967,US,Pinot Noir,90,75.0,Citation 2004 Pinot Noir (Oregon)
129968,France,Gewürztraminer,90,30.0,Domaine Gresser 2013 Kritt Gewurztraminer (Als...
129969,France,Pinot Gris,90,32.0,Domaine Marcel Deiss 2012 Pinot Gris (Alsace)
129970,France,Gewürztraminer,90,21.0,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...

In [56]:
clean_wine['country'].replace({'US':'USA'}, inplace=True)
clean_wine

,country,variety,points,price,title
0,Italy,White Blend,87,NaN,Nicosia 2013 Vulkà Bianco (Etna)
1,Portugal,Portuguese Red,87,15.0,Quinta dos Avidagos 2011 Avidagos Red (Douro)
2,USA,Pinot Gris,87,14.0,Rainstorm 2013 Pinot Gris (Willamette Valley)
3,USA,Riesling,87,13.0,St. Julian 2013 Reserve Late Harvest Riesling ...
4,USA,Pinot Noir,87,65.0,Sweet Cheeks 2012 Vintner's Reserve Wild Child...
...,...,...,...,...,...
129966,Germany,Riesling,90,28.0,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...
129967,USA,Pinot Noir,90,75.0,Citation 2004 Pinot Noir (Oregon)
129968,France,Gewürztraminer,90,30.0,Domaine Gresser 2013 Kritt Gewurztraminer (Als...
129969,France,Pinot Gris,90,32.0,Domaine Marcel Deiss 2012 Pinot Gris (Alsace)
129970,France,Gewürztraminer,90,21.0,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...

In [43]:
clean_wine.drop_duplicates()

,country,variety,points,price,title
0,Italy,White Blend,87,NaN,Nicosia 2013 Vulkà Bianco (Etna)
1,Portugal,Portuguese Red,87,15.0,Quinta dos Avidagos 2011 Avidagos Red (Douro)
2,USA,Pinot Gris,87,14.0,Rainstorm 2013 Pinot Gris (Willamette Valley)
3,USA,Riesling,87,13.0,St. Julian 2013 Reserve Late Harvest Riesling ...
4,USA,Pinot Noir,87,65.0,Sweet Cheeks 2012 Vintner's Reserve Wild Child...
...,...,...,...,...,...
129966,Germany,Riesling,90,28.0,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...
129967,USA,Pinot Noir,90,75.0,Citation 2004 Pinot Noir (Oregon)
129968,France,Gewürztraminer,90,30.0,Domaine Gresser 2013 Kritt Gewurztraminer (Als...
129969,France,Pinot Gris,90,32.0,Domaine Marcel Deiss 2012 Pinot Gris (Alsace)
129970,France,Gewürztraminer,90,21.0,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...

In [82]:
clean_wine = clean_wine.drop_duplicates().dropna(axis=0).reset_index()
clean_wine

,country,variety,points,price,title
0,Portugal,Portuguese Red,87,15.0,Quinta dos Avidagos 2011 Avidagos Red (Douro)
1,USA,Pinot Gris,87,14.0,Rainstorm 2013 Pinot Gris (Willamette Valley)
2,USA,Riesling,87,13.0,St. Julian 2013 Reserve Late Harvest Riesling ...
3,USA,Pinot Noir,87,65.0,Sweet Cheeks 2012 Vintner's Reserve Wild Child...
4,Spain,Tempranillo-Merlot,87,15.0,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...
...,...,...,...,...,...
111434,Germany,Riesling,90,28.0,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...
111435,USA,Pinot Noir,90,75.0,Citation 2004 Pinot Noir (Oregon)
111436,France,Gewürztraminer,90,30.0,Domaine Gresser 2013 Kritt Gewurztraminer (Als...
111437,France,Pinot Gris,90,32.0,Domaine Marcel Deiss 2012 Pinot Gris (Alsace)
111438,France,Gewürztraminer,90,21.0,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...

In [83]:
clean_wine[clean_wine['country']=='NaN']

Empty DataFrame
Columns: [country, variety, points, price, title]
Index: []

In [20]:
#pull in csv file
csv_file=r"Resources\alcohol_consumption.csv"
ac_data_df=pd.read_csv(csv_file)
ac_data_df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [21]:
#only pull in columns we need
updated_ac=ac_data_df[['country','wine_servings']].copy()
updated_ac.head()

       country  wine_servings
0  Afghanistan              0
1      Albania             54
2      Algeria             14
3      Andorra            312
4       Angola             45

In [29]:
# Create connection
connection_string = f"postgres:{ps}@localhost:5432/wine_db"
engine = create_engine(f'postgresql://{connection_string}')

In [30]:
engine.table_names()

['alcohol_consumption', 'wine_reviews']

In [86]:
clean_wine.to_sql(name='wine_reviews', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "wine_reviews" violates foreign key constraint "fk_wine_reviews_country"
DETAIL:  Key (country)=(Portugal) is not present in table "alcohol_consumption".

[SQL: INSERT INTO wine_reviews (country, variety, points, price, title) VALUES (%(country)s, %(variety)s, %(points)s, %(price)s, %(title)s)]
[parameters: ({'country': 'Portugal', 'variety': 'Portuguese Red', 'points': 87, 'price': 15.0, 'title': 'Quinta dos Avidagos 2011 Avidagos Red (Douro)'}, {'country': 'USA', 'variety': 'Pinot Gris', 'points': 87, 'price': 14.0, 'title': 'Rainstorm 2013 Pinot Gris (Willamette Valley)'}, {'country': 'USA', 'variety': 'Riesling', 'points': 87, 'price': 13.0, 'title': 'St. Julian 2013 Reserve Late Harvest Riesling (Lake Michigan Shore)'}, {'country': 'USA', 'variety': 'Pinot Noir', 'points': 87, 'price': 65.0, 'title': "Sweet Cheeks 2012 Vintner's Reserve Wild Child Block Pinot Noir (Willamette Valley)"}, {'country': 'Spain', 'variety': 'Tempranillo-Merlot', 'points': 87, 'price': 15.0, 'title': 'Tandem 2011 Ars In Vitro Tempranillo-Merlot (Navarra)'}, {'country': 'Italy', 'variety': 'Frappato', 'points': 87, 'price': 16.0, 'title': 'Terre di Giurfo 2013 Belsito Frappato (Vittoria)'}, {'country': 'France', 'variety': 'Gewürztraminer', 'points': 87, 'price': 24.0, 'title': 'Trimbach 2012 Gewurztraminer (Alsace)'}, {'country': 'Germany', 'variety': 'Gewürztraminer', 'points': 87, 'price': 12.0, 'title': 'Heinz Eifel 2013 Shine Gewürztraminer (Rheinhessen)'}  ... displaying 10 of 111439 total bound parameter sets ...  {'country': 'France', 'variety': 'Pinot Gris', 'points': 90, 'price': 32.0, 'title': 'Domaine Marcel Deiss 2012 Pinot Gris (Alsace)'}, {'country': 'France', 'variety': 'Gewürztraminer', 'points': 90, 'price': 21.0, 'title': 'Domaine Schoffit 2012 Lieu-dit Harth Cuvée Caroline Gewurztraminer (Alsace)'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)